{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="titulo">
        <div class="mt-5">
            <br>
            <br>
            <h1 class="text-center">Quienes Somos</h1>
        </div>
        <br>
        <br>
        <br>
    </div>


    <div class="color1">
        <div class="contenedor">
        <div class="fotohome">
            <img class="imagenmecanico" src="../static/centrolaguna/img/mecanico.jpg" alt="Mecánico trabajando">
        </div>
        <div class="texto">
            <h1>¡Somos un <span class="highlight">taller mecánico automotriz</span> multimarca!</h1>
            <p><strong>"Europa Mechanical Spa"</strong> somos <strong>un taller automotriz multimarca con más de 10 años de experiencia en el rubro.</strong></p>
            <p>Ofrecemos para tu auto las Manteniones y reparaciones necesarias, asegurando siempre su perfecta condición y operatividad. Contamos con alta tecnología en scanner y equipos para poder diagnosticar cualquier tipo de problema en todas las marcas de vehículos. Con la confianza y buena atención de nuestro personal altamente calificado.</p>
        </div>
        </div>
    </div>
  


    <div class="marcas-contenedor">
        <h2>Conoce Nuestras Marcas</h2>
        <p>¡Trabajamos con estas marcas de autos!</p>
        <div class="grid-marcas">
        <div class="marca"><img src="../static/centrolaguna/img/Marcas/ferrari.png" alt="Ferrari"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/audi.png" alt="Audi"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/porsche.png" alt="Porsche"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/nissan.png" alt="Nissan"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/subaru.png" alt="Subaru"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/mitsubishi.png" alt="Mitsubishi"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/toyota.png" alt="Toyota"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/mazda.png" alt="Mazda"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/ford.png" alt="Ford"></div>
          <div class="marca"><img src="../static/centrolaguna/img/Marcas/lexus.png" alt="Lexus"></div>


          <!-- Repite el bloque anterior para cada marca -->
          
          <br>



        </div>
      </div>
      






{% endblock %}
